#webform-client-form-1 {
  font-family: Calibri, Arial, sans-serif;
  width: 460px;

  .form-item {
    input, textarea {
      border: 2px solid lightgrey;
      border-radius: 5px;
      font-size: 15px;
      line-height: 24px;
      outline: none;

      &:focus {
        border-color: grey;
      }
    }

    textarea {
      width: 454px;
    }
  }

  .form-actions {
    margin: 0;
    padding: 0;

    input {
      float: right;
      outline: none;
      margin-right: 6px;
    }
  }
}
